In [1]:
import pandas as pd
import yfinance as yf
from sqlalchemy import create_engine

In [2]:
TM = yf.Ticker("TM")

In [3]:
cashflow = TM.cashflow
cashflow = cashflow.transpose()
cashflow.columns = cashflow.columns.str.replace(' ', '_')
cashflow.index.names = ['Date']
cashflow.head(3)

,Investments,Change_To_Liabilities,Total_Cashflows_From_Investing_Activities,Net_Borrowings,Total_Cash_From_Financing_Activities,Change_To_Operating_Activities,Net_Income,Change_In_Cash,Repurchase_Of_Stock,Effect_Of_Exchange_Rate,Total_Cash_From_Operating_Activities,Depreciation,Other_Cashflows_From_Investing_Activities,Dividends_Paid,Change_To_Inventory,Change_To_Account_Receivables,Other_Cashflows_From_Financing_Activities,Change_To_Netincome,Capital_Expenditures,Issuance_Of_Stock
Date,,,,,,,,,,,,,,,,,,,,
2022-03-31,-2.252740e+11,1.523990e+11,-5.774960e+11,-1.300203e+12,-2.466516e+12,-6.764330e+11,2.850110e+12,1.012798e+12,-4.047180e+11,3.341950e+11,3.722615e+12,1.559361e+12,1.898141e+12,-7.098720e+11,-7.252850e+11,1.186520e+11,-5.172300e+10,1.812920e+11,-3.484159e+12,NaN
2021-03-31,-6.672530e+11,3.841420e+11,-4.684175e+12,3.201402e+12,2.739174e+12,-1.209962e+12,2.245261e+12,1.002406e+12,-4.047180e+11,2.202450e+11,2.727162e+12,1.410398e+12,-1.661218e+12,-6.255140e+11,-2.427690e+11,5.027000e+09,-3.659800e+10,-9.882700e+10,-3.489498e+12,1.998840e+11
2020-03-31,-2.968900e+10,-1.290530e+11,-2.124650e+12,1.512689e+12,3.628050e+11,-1.284963e+12,2.036140e+12,4.956450e+11,-4.761280e+11,-1.410070e+11,2.398496e+12,1.445571e+12,2.124730e+11,-6.188010e+11,-1.631090e+11,2.575880e+11,-5.495500e+10,8.654600e+10,-3.441584e+12,1.998840e+11

In [4]:
engine = create_engine("mysql+pymysql://root:12345@localhost/toyotamotors")
cashflow.to_sql("cashflow", con = engine)

In [5]:
balance_sheet = TM.balance_sheet
balance_sheet.head(3)

                     2022-03-31    2021-03-31    2020-03-31    2019-03-31
Intangible Assets  5.282040e+11  4.774580e+11  3.747840e+11           NaN
Capital Surplus    4.985750e+11  4.972750e+11  4.893340e+11  4.871620e+11
Total Liab         4.053395e+13  3.797881e+13  3.263335e+13  3.186981e+13

In [6]:
balance_sheet = balance_sheet.transpose()
balance_sheet.columns = balance_sheet.columns.str.replace(" ", "_")
balance_sheet.index.names = ['Date']
balance_sheet.columns.names = ['']
balance_sheet.head(3)

,Intangible_Assets,Capital_Surplus,Total_Liab,Total_Stockholder_Equity,Minority_Interest,Deferred_Long_Term_Liab,Other_Current_Liab,Total_Assets,Common_Stock,Other_Current_Assets,...,Other_Stockholder_Equity,Property_Plant_Equipment,Total_Current_Assets,Long_Term_Investments,Net_Tangible_Assets,Net_Receivables,Long_Term_Debt,Inventory,Accounts_Payable,Short_Term_Investments
Date,,,,,,,,,,,,,,,,,,,,,
2022-03-31,5.282040e+11,4.985750e+11,4.053395e+13,2.624597e+13,9.088510e+11,6.637620e+11,5.746939e+12,6.768877e+13,3.970500e+11,3.229570e+12,...,2.203255e+12,7.750427e+12,2.372229e+13,5.171578e+12,2.571776e+13,3.306757e+12,1.752046e+12,3.821356e+12,3.168084e+12,NaN
2021-03-31,4.774580e+11,4.972750e+11,3.797881e+13,2.340455e+13,8.837820e+11,6.311760e+11,4.719716e+12,6.226714e+13,3.970500e+11,4.922674e+12,...,1.307726e+12,7.195309e+12,2.277680e+13,4.396826e+12,2.292709e+13,3.071200e+12,1.629015e+12,2.888028e+12,2.953716e+12,NaN
2020-03-31,3.747840e+11,4.893340e+11,3.263335e+13,2.061889e+13,7.201240e+11,6.254730e+11,4.532603e+12,5.397236e+13,3.970500e+11,2.717681e+12,...,5.855490e+11,6.565514e+12,1.896332e+13,4.297564e+12,2.024410e+13,2.885969e+12,1.151190e+13,2.533892e+12,2.354425e+12,NaN

In [7]:
engine = create_engine("mysql+pymysql://root:12345@localhost/toyotamotors")
balance_sheet.to_sql("balance_sheet", con = engine)

In [8]:
financials = TM.financials
financials.head(3)

,2022-03-31,2021-03-31,2020-03-31,2019-03-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,3990532000000.0,2932355000000.0,2792942000000.0,2645531000000.0

In [9]:
financials = financials.transpose()
financials.columns = financials.columns.str.replace(' ', '_')
financials.index.names = ['Date']
financials.head(3)

,Research_Development,Effect_Of_Accounting_Charges,Income_Before_Tax,Minority_Interest,Net_Income,Selling_General_Administrative,Gross_Profit,Ebit,Operating_Income,Other_Operating_Expenses,...,Non_Recurring,Other_Items,Income_Tax_Expense,Total_Revenue,Total_Operating_Expenses,Cost_Of_Revenue,Total_Other_Income_Expense_Net,Discontinued_Operations,Net_Income_From_Continuing_Ops,Net_Income_Applicable_To_Common_Shares
Date,,,,,,,,,,,,,,,,,,,,,
2022-03-31,None,None,3990532000000.0,908851000000.0,2850110000000.0,2975977000000.0,5971673000000.0,2995696000000.0,2995696000000.0,None,...,None,None,1115918000000.0,31379507000000.0,28383811000000.0,25407834000000.0,994836000000.0,None,2874614000000.0,2850110000000.0
2021-03-31,None,None,2932355000000.0,883782000000.0,2245261000000.0,2634625000000.0,4832373000000.0,2197748000000.0,2197748000000.0,None,...,None,None,649976000000.0,27214593000000.0,25016845000000.0,22382220000000.0,734607000000.0,None,2282379000000.0,2245261000000.0
2020-03-31,None,None,2792942000000.0,720124000000.0,2036140000000.0,2981965000000.0,5381196000000.0,2399231000000.0,2399231000000.0,None,...,None,None,681817000000.0,29866547000000.0,27467316000000.0,24485351000000.0,393711000000.0,None,2111125000000.0,2036140000000.0

In [10]:
engine = create_engine("mysql+pymysql://root:12345@localhost/toyotamotors")
financials.to_sql("financials", con = engine)